{% extends 'base.html' %}


{% block content %}

{% if user.is_authenticated %}
<div>
    <h1>Welcome</h1>
<br>
    <h3>Hi {{user.username }}</h3>
    <a href="{% url 'user_profile' request.user.pk %}">User profile</a>
    |
    <form action="{% url 'logout' %}" method="post">{% csrf_token %}<button type="submit">Log out</button></form>




    {% else %}
    <br>
    <div >
        <div>
            <h3>You are not logged in </h3>

            <p>Please Login or Signup for free.</p>
            <br>
            <a href="{% url 'login' %}">Log In</a>
            |
            <a href="{% url 'signup' %}">Sign up</a>

        </div>
    </div>
</div>

{% endif %}

{% endblock content %}
