{% extends "base.html" %}
{% load static %}
{% block content %}

<img src="{% static '' %}" alt="add site logo here">
</div>
<br>
<div>
    <h1>Our Products</h1>
    <p></p>
</div>

<div>
    <hr>
    <h3>Rooms</h3>
    <hr>
    <a href="{% url 'shop:bedroom' %}">Bedroom</a>
    <a href="{% url 'shop:living_room' %}">Living Room</a>
    <a href="{% url 'shop:kitchen' %}">Kitchen</a>
    <a href="{% url 'shop:bathroom' %}">Bathroom</a>
    <a href="{% url 'shop:garden' %}">Garden</a>

    <hr>
    <br>
</div>



<div>
    {% for cat in links %}
        <a href="{{cat.get_absolute_url}}">{{cat.name}}</a>
        <!-- <br>
        <br> -->
    {% endfor %}
    <hr>
    <br>
</div>



<div>
    <div>
        {% for product in prods %}
        <div>
            <div>
                <a href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="{{product.name}}"></a>
                <div>
                    <h4>{{product.name}}</h4>
                    <p>€{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
</div>
{% endblock %}