{% extends 'base.html' %}
{% block content %}
<html>

<head>
    <title>Kitchen</title>
</head>

<body>
    <h2>Kitchen</h2>
    <div>
        {% for cat in links %}
            {% if cat.room == 'kitchen' %}
            <a href="{{cat.get_absolute_url}}">{{cat.name}}</a>
            <br>
            <a href="{{cat.get_absolute_url}}"><img src="{{cat.image.url}}" alt="{{cat.name}}"></a>
            <br>
            {% else%}

            {% endif%}

        {% endfor %}
    </div>

    </form>
</body>

</html>
{% endblock content %}